// Profiles

process {
    memory = { 32.GB * task.attempt }
    cpus = 8 
}

profiles {

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    test {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/dev/test_config.yaml"
        }
    }

    debug {
        process {
            debug = true
        }
    }

}
