// Profiles

process {
    memory = { 32.GB * task.attempt }
    cpus = 8 
}

profiles {

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    agora_preprod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/ag-1668/configs/agora_preprod.yaml"
        }
    }

    agora_prod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/ag-1668/configs/agora_prod.yaml"
        }
    }

    model_ad_preprod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/ag-1668/configs/modelad_preprod.yaml"
        }
    }

    model_ad_prod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/ag-1668/configs/modelad_prod.yaml"
        }
    }


    debug {
        process {
            debug = true
        }
    }

}
