// Profiles

process {
    // Global default of memory
    memory = { 32.GB * task.attempt }
    cpus = 8
    container = params.container

    // memory use for RELEASE_MANIFEST process
    withName: RELEASE_MANIFEST {
        memory = { (params.default_memory_gb as int).GB }
    }

    // memory use for AGORA data run process
    withName: AGORA_DATA_RUN {
        memory = { 
            def largeDatasets = params.large_memory_datasets ? params.large_memory_datasets.split(',') : []
            return largeDatasets.contains(dataset) ? (params.large_memory_gb as int).GB * task.attempt : (params.default_memory_gb as int).GB * task.attempt
        }
    }
}

params {
    config = null
    dataset = ''
    large_memory_datasets = 'rna_de_individual,rna_de_aggregate'
    large_memory_gb = 64
    default_memory_gb = 32
    container = 'ghcr.io/sage-bionetworks/agora-data-tools:latest'
}

profiles {

    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }

    agora_preprod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/dev/configs/agora_preprod.yaml"
        }
    }

    agora_prod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/dev/configs/agora_prod.yaml"
        }
    }

    model_ad_preprod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/dev/configs/model_ad_preprod.yaml"
        }
    }

    model_ad_prod {
        params {
            config = "https://raw.githubusercontent.com/Sage-Bionetworks/agora-data-tools/refs/heads/dev/configs/model_ad_prod.yaml"
        }
    }

    debug {
        process {
            debug = true
        }
    }

}
